$color-primary: hsl(176, 50%, 47%);
$color-primary-dark: hsl(176, 72%, 28%);
$color-neutral: hsl(0, 0%, 0%);
$color-neutral-grey: hsl(0, 0%, 48%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}
body {
    font-family: 'Commissioner', sans-serif;
    background-color:#efeeee;
    min-width: 375px;
}
.header {
    width: 100%;
    height: 300px;
    padding: 20px;
    position: relative;
    background-image: url('../images/image-hero-mobile.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header div {
    display: flex;
    justify-content: space-between;
}
.header__menu {
    width: 30px;
    height: 43px;
    border: none;
    outline-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    img {
        width: 18px;
        height: 15px;
    }
    img:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

.header__title {
    display: flex;
    align-items: center;
    font-size: 2.8rem;
    color: #fff;
}

.header__nav {
    width: 80%;
    min-width: 320px;
    max-width: 400px;
    margin: 0 auto;
    height: 260px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65px;
    left: calc(50% - 200px);
    z-index: 2;
    
}

.nav__button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -50px;
    right: calc(50% - 20px);
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    z-index: 3;    
}

.nav__list {
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    list-style: none;
    background-color:white;
    a {
        padding-left: 10px ;
        text-decoration: none;
        color: black;
        font-size: 1.6rem;
    }
    a:hover {
        opacity: 0.7;
        text-decoration: underline;
    }
}

.main {
    padding: 0 20px 20px;
    margin: 0 auto;
    margin-top: -50px;
    max-width: 700px;
}

.main__section-one {
    width: 100%;
    border-radius: 10px;
    padding: 50px 20px 30px;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    background-color: #fff;
}

.section-one__pic {
    position: absolute;
    top: -28px;
    left: calc(100% - 50% - 28px);
}
.section-one__title {
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.section-one__description {
    font-size: 1.6rem;
    margin-bottom: 20px;
    line-height: 2.5rem;
    color: $color-neutral-grey;
}
.section-one__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link__button {
    width: 230px;
    height: 56px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background-color: $color-primary;
}

.link__pic {
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}
.bockmarked {
    display: none;
}
.main__section-two {
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #fff;
}
.section-two__item-container {
    width: 100%;
    padding: 10px;
}
.section-two__item-container div {
    width: 70px;
    height: 30px;
    margin: 0 auto;
    border-bottom: 1px solid $color-neutral-grey;
    opacity: 0.5;
}
.item-price {
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: bold;
}
.item-back {
    font-size: 1.4rem;
    color: $color-neutral-grey;
}
.out-line {
    width: 100%;
    height: 13px;
    margin: 30px 0 20px;
    border-radius: 10px;
    background-color: #f1f1f1;
}
.in-line {
    width: 85%;
    height: 13px;
    border-radius: 10px;
    background-color: $color-primary;
}

.main__section-three {
    width: 100%;
    border-radius: 10px;
    padding: 50px 25px 30px;
    margin-bottom: 25px;
    position: relative;
    background-color: #fff;
}
.section-three__title {
    margin-bottom: 25px;
    letter-spacing: -1px;
    font-size: 2rem;
}
.section-three__description {
    margin-bottom: 20px;
    font-size: 1.4rem;
    letter-spacing: 0.2px;
    line-height: 2.5rem;
    color: $color-neutral-grey;
    opacity: 0.9;
}

.section-three__article {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.article__title {
    margin-bottom: 10px;
    font-size: 1.4rem;
}
.article__price {
    margin-bottom: 25px;
    font-size: 1.4rem;
    color: $color-primary;
}
.article__description {
    margin-bottom: 25px;
    letter-spacing: 0.3px;
    line-height: 2.5rem;
    font-size: 1.4rem;
    color: $color-neutral-grey;
    opacity: 0.9;
}
.article__stats {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 25px;
}
.article__stats span {
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: 300;
    color: $color-neutral-grey;
    opacity: 0.9;
}
.article__button {
    width: 160px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    background-color: $color-primary;
}
.article__button-grey {
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    background-color: $color-neutral-grey;
}

.section-three__article:nth-of-type(3) {
    opacity: 0.4;
}

.container__modal {
    width: 100%;
    padding: 40px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    .container__img {
        margin-bottom: 25px;
    }
    .btm {
        width: 120px;
        height: 50px;
        border: none;
        border-radius: 50px;
        font-size: 1.4rem;
        font-weight: 600;
        color: #fff;
        background-color: $color-primary;
    }
}

.modal__title {
    font-size: 2rem;
    margin-bottom: 25px;
}

.modal__description {
    margin-bottom: 30px;
    letter-spacing: 0.2px;
    line-height: 2.4rem;
    font-size: 1.4rem;
    color: $color-neutral-grey;
    opacity: 0.9;
    text-align: center;
}
.header__nav-second {
    display: none;
}

@media (min-width: 700px) {
    .header {
        width: 100%;
        div {
            padding: 0 100px;
            .header__title {
                font-size: 3.4rem;
            }
        }
    }
    .link__button:hover  {
        background-color: $color-primary-dark;
    }
    .link__pic {
        padding-right: 15px;
        border-radius: 50px;
        background-color: #e5e1e1;
        opacity: 0.4;
    }
    .bookmarker {
        margin-right: 10px;
    }
    .bockmarked {
        display: block;
        font-size: 1.6rem;
        cursor: pointer;
    }
    .stats-container {
        display: flex;
    }
    .section-two__item-container {
        position: relative;
    }

    .section-two__item-container div {
        width: 60px;
        height: 70px;
        position: absolute;
        transform: rotate(270deg);
        right: 0;
        bottom: 5px;

    }

    .article__button:hover {
        background-color: $color-primary-dark;
    }

    .align-container {
        display: flex;
        justify-content: space-between;
    }     
}
.border {
    opacity: 1;
    img {
        color: $color-primary-dark;
    }
    span {
        color: $color-primary-dark;
        font-weight: bold;
    }
}

@media (min-width: 900px) {
    .header {
        width: 100%;
        background-image: url('../images/image-hero-desktop.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .header__nav-second {
        display: flex;
        align-items: center;
        .nav__list-second {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                font-size: 1.6rem;
                text-decoration: none;
                color: white;
                padding: 5px;
                margin-right: 10px;
            }
            a:hover {
                text-decoration: underline;
                opacity: 0.5;
            }
        }
    }   
}